################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BT-EscapeRooms/.vs/BT-EscapeRooms/v15/Server/sqlite3/db.lock
/BT-EscapeRooms/BT-EscapeRooms/bin
/BT-EscapeRooms/BT-EscapeRooms/obj
/BT-EscapeRooms/BT-EscapeRooms/Properties/PublishProfiles
